# Dependencies
node_modules/

# Environment files
.env
.env.*

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Angular cache
.angular/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Test coverage
/coverage

# Misc
/.sass-cache
/connect.lock
/libpeerconnection.log
testem.log
